/*CSS Document*/
@charset "utf-8";
html{
	background:#fff;
	color:#666;
}
body{
	margin:0;
	padding:0;
	font:12px/1.5 tahoma,arial;
}
h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,tr,th,td,input,img,button{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
img{
	border:none;
}
a{
	text-decoration:none;
	color:#666;
}
.clearfix:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
select,input{
	vertical-align:middle;
	font:12px/1.5 thoma,arial;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
/*header*/
.header{
	height:26px;
	background:#fbfbfb;
	border-bottom:1px solid #dcdcdc;
}
.header .main_header{
	width:990px;margin:0 auto;
	padding-top:7px;
	line-height:1.2;
}
.header .main_header > a{
	float:left;
	padding-left:15px;
	background:url(../images/wallet_03.png) left center no-repeat;
}
.header .main_header ul{
	float:right;
}
.header .main_header ul li{
	float:left;
	border-right:1px solid #e2e2e2;
	position:relative;
	width:72px;
	padding:0 10px 0 15px;
	padding-top:1px;
}
.header .main_header ul .li_mouseenter{
	padding-top:0;
	border-top:1px solid #e2e2e2;
	background:#fff;
}
.header .main_header ul .right_none{
	border-right:0;
	
}
.header .main_header ul li span{
	width:0;
	height:0;
	border:5px solid;
	border-color:#656565 transparent transparent transparent;
	float:right;
	margin-top:7px;
}
.header .main_header ul li .span_top{
	border-color:transparent transparent #656565 transparent;
	margin-top:0;
}
.header .main_header ul li ul{
	display:none;
	position:absolute;
	left:-1px;
	top:14px;
	border:1px solid #e2e2e2;
	border-top:0;
	padding-top:6px;
	line-height:1.8;
	background:#fff;
	z-index:5;
}
.header .main_header ul li ul li{
	border:0;
}
.header .main_header ul li ul li a:hover{
	color:#f90;
}
/*nav*/
.nav{
	height:60px;
	background:#fff;
	padding-top:20px;
}
.nav .main_nav{
	width:990px;
	margin:0 auto;
}
.nav .main_nav .logo{
	float:left;
	margin:4px 18px 0 0;
}
.nav .main_nav .logo_gif{
	float:left;
	margin-right:120px;
}
.nav .main_nav .nav_wrap{
	float:left;
	margin-top:12px;
}
.nav .main_nav .nav_wrap li{
	float:left;
	margin-right:44px;
	padding-bottom:15px;
}
.nav .main_nav .nav_wrap li a{
	display:block;
	font-size:16px;
	font-weight:bold;
	color:#4e4e4d;
	padding-left:21px;
}
.nav .main_nav .nav_wrap .nav_current a{
	color:#f60;
	background:url(../images/logo_06.png) left center no-repeat;
}
.nav .main_nav .nav_wrap li:hover > a{
	color:#f60;
	background:url(../images/logo_06.png) left center no-repeat;
}
.nav .main_nav .nav_wrap .nav_safe{
	margin-right:36px;
}
.nav .main_nav .nav_wrap .nav_border{
	width:1px;
	height:31px;
	background:#f1f3f4;
	margin-right:20px;
}
.nav .main_nav .nav_wrap .nav_sales{
	margin-right:0;
}
.nav .main_nav .nav_wrap .nav_sales:hover > a{
	color:#00f;
	background:none;
}
.nav .main_nav .nav_wrap li{
	position:relative;
}
.nav .main_nav .nav_wrap li span{
	width:0;
	height:0;
	border:7px solid;
	border-color:transparent transparent #ccc transparent;
	position:absolute;
	right:40px;
	top:-15px;
}
.nav .main_nav .nav_wrap li i{
	width:0;
	height:0;
	border:6px solid;
	border-color:transparent transparent #fff transparent;
	position:absolute;
	right:41px;
	top:-11px;
}
.nav .main_nav .nav_wrap li .nav_table_wrap{
	position:absolute;
	right:-20px;
	top:35px;
	padding:8px;
	background:#fff;
	border:1px solid #ccc;
	box-shadow:0px 0px 4px #999;
	display:none;
}
.nav .main_nav .nav_wrap li .nav_table_wrap table{
	white-space:nowrap;
	text-align:center;
}
.nav .main_nav .nav_wrap li .nav_table_wrap table th{
	padding:0px 12px 5px 2px;
	border-right:1px solid #e7e7e7;
}
.nav .main_nav .nav_wrap li .nav_table_wrap table td{
	border-right:1px solid #e7e7e7;
	padding:2px 12px;
}
.nav .main_nav .nav_wrap li .nav_table_wrap table .last{
	border-right:0;
}
.nav .main_nav .nav_wrap li .nav_table_wrap table td a{
	font-size:12px;
	display:block;
	padding:0px 12px 5px 2px;
	background:none;
	border-radius:3px;
}
.nav .main_nav .nav_wrap li .nav_table_wrap table td a:hover{
	color:#fff;
	background:#c2c2c2;
}
/**/





































































